<form class="mt-4" name="container-form" method="POST" action="/blogs/handle-form-actions">
  <div>
    <h3>My Blogs</h3>
    <a href="/me/trash/blogs">Recycle Pin ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Select all
        </label>
      </div>
      <select class="form-select form-select-sm checkbox-select-all-options" name="action" required>
        <option value="">Action</option>
        <option value="delete">Xóa</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Apply</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        {{! <th scope="col">Image/th> }}
        <th scope="col" colspan="3">Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
      <tr>
        <td>
          <div class="form-check">
           <input class="form-check-input" type="checkbox" name="blogIds[]" value="{{this._id}}">

          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a type="button" href="/blogs/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a type="button" href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-blog-modal"
            data-bs-id="{{this._id}}">Delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">You have not posted any Blog yet.
          <a href="/blogs/create"> Post Blog</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
{{! Confirm delete blog }}
<div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete it?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-blog">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-blog-form">

</form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var blogId;
    var deleteForm = document.forms['delete-blog-form']
    var btnDeleteBlog = document.getElementById('btn-delete-blog')
    var checkboxAll = $('#checkbox-all')
    var blogItemCheckbox = $('input[name="blogIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn')
    var containerForm = document.forms['container-form']
    const deleteblogmodal = document.getElementById('delete-blog-modal')
    if (deleteblogmodal) {
      deleteblogmodal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        blogId = button.getAttribute('data-bs-id');
        console.log(id);
      })
    }

    btnDeleteBlog.onclick = function () {
      deleteForm.action = '/blogs/' + blogId + '?_method=DELETE'
      deleteForm.submit();
    }
    // checkbox all onclick
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked')
      blogItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })
    //Blog item checkbox change
    blogItemCheckbox.change(function () {
      var isCheckedAll = blogItemCheckbox.length === $('input[name="blogIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })
    // Check all submit button clicked

    checkAllSubmitBtn.on('submit', function (e) {
      var isSubmittable = !$(this).hasClass('disabled')
      if (!isSubmittable) {
        e.preventDefault()
      }
    })

    //Re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="blogIds[]"]:checked').length
      if (checkedCount > 0) {
        checkAllSubmitBtn.removeClass('disabled')
      } else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }
    console.log(blogItemCheckbox)
  })
</script>