<div class="mt-4">
  <div>
    <a href="/me/stored/blogs">List of blogs</a>
    <h3>Blogs deleted</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        {{! <th scope="col">Image/th> }}
        <th scope="col" colspan="2">Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a type="button" href="" class="btn btn-link btn-restore" data-bs-id={{this._id}}>Restore</a>
          <a type="button" href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-blog-modal"
            data-bs-id="{{this._id}}">Permanently deleted</a>
        </td>
      </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">The trash is empty.
            <a href="/me/stored/blogs"> List of blogs</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! Confirm delete blog }}
<div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       This action is not reversible. Are you sure delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-blog" >Permanently Deleted</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

 <form method="POST" name="delete-blog-form">
 </form>
 <form method="POST" name="restore-blog-form"></form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var blogId;
    var deleteForm = document.forms['delete-blog-form']
    var restoreForm = document.forms['restore-blog-form']
    var btnDeleteBlog = document.getElementById('btn-delete-blog')
    var restoreBtn = $('.btn-restore')
    const deleteblogmodal = document.getElementById('delete-blog-modal');
    if (deleteblogmodal) {
      deleteblogmodal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        blogId = button.getAttribute('data-bs-id');
        
      })
    }
    
    btnDeleteBlog.onclick = function () {
      deleteForm.action = '/blogs/' + blogId+ '/force?_method=DELETE';
      deleteForm.submit();
    }
   
    //Restore click
    restoreBtn.click(function(e){
      e.preventDefault();
      var idBlog = $(this).attr('data-bs-id')
      restoreForm.action = '/blogs/' + idBlog + '/restore?_method=PATCH';
      restoreForm.submit();
    })
    
  })
</script>